body {
	font-family: univia-pro, sans-serif;
}
section{
	margin: auto;
	width: clamp(90%, 100%, 1200px);
	max-width: 1200px;
}
p{
	font-size: 1.25em;
}
#portada{
	position: relative;
	margin-top: 80px;
}
.logo-commscope{
	position: absolute;
	bottom: 2em;
	right: 2em;
	width: clamp(20%, 300px, 25%);
}
#Inicio{
	> img{
		max-width: 30%;
		height: auto;
	}
}
.ribbon-text{
	width: 100%;
	position: relative;
	margin: 71px 0 20px;
	p,
	h3{
		padding: 0 48px;
		height: 140px;
		display: table-cell;
		vertical-align: middle;
		box-sizing: border-box;
		color: white;
		position: relative;
		z-index: 2;
	}
	h3{
		text-align: right !important;
		font-size: 1.5em;
	}
	&:before{
		display: block;
		content: '';
		position: absolute;
		width: calc(100% - 24px);
		height: 100%;
		background: linear-gradient(112deg,rgba(12, 114, 186, 1) 0%, rgba(12, 114, 186, .8) 100%);
		z-index: 1;
	}
	&:after{
		display: block;
		content: '';
		position: absolute;
		height: 197px;
		width: 85px;
		top:-57px;
		right: -0;
		background: url(/ribbon-end.svg);
		z-index: 0;
	}
}
#registro{
	padding: 0 40px 40px;
	text-align: center;
	input, select{
		background: linear-gradient(112deg,rgba(203, 219, 42, .15) 0%, rgba(0, 167, 109, .15) 33%, rgba(0, 171, 181, .15) 67%, rgba(0, 174, 239, .15) 100%);
		border-radius: 4px;
		font-size: .9em;
		font-weight: 600;
		padding: 8px 16px;
		box-sizing: border-box;
		text-align: left;
		width: 100%;
	}
	select{
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		padding: 8px 32px 8px 16px;
		background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"/></svg>'),
		linear-gradient(112deg,rgba(203, 219, 42, .15) 0%, rgba(0, 167, 109, .15) 33%, rgba(0, 171, 181, .15) 67%, rgba(0, 174, 239, .15) 100%);
		background-repeat: no-repeat;
		background-position: right 10px center, center center;
		background-size: 20px, 100%;
		cursor: pointer;
	}
	label{
		text-align: left;
	}
	.form-section{
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: .25em;
		margin: 12px 0;
		color: #555;
		align-items: start;
	}
	.form-section-double{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap:3em;
		height: auto;
		.form-section{
			margin: 0;
		}
	}
	h4{
		font-size: 1.5em;
		font-weight: 600;
		margin: 32px 0 10px;
		text-align: left;
	}
	h5{
		font-size: 1.1em;
		font-weight: 600;
		margin: 16px 0 -8px;
		text-align: left;
	}
	p{
		text-align: left;
	}
	button{
		position: relative;
		padding: 12px 64px;
		background: linear-gradient(112deg,rgba(203, 219, 42, 1) 0%, rgba(0, 167, 109, 1) 33%, rgba(0, 171, 181, 1) 67%, rgba(0, 174, 239, 1) 100%);
		font-weight: 800;
		color: white;
		letter-spacing: .1em;
		text-transform: uppercase;
		border-radius: 4px;
		cursor: pointer;
		transition: all .2s ease-in;
		margin: 40px 0 0;
		&:hover{
			background: linear-gradient(112deg,rgba(203, 219, 42, 1) 0%, rgba(0, 167, 109, 1) 10%, rgba(0, 171, 181, 1) 90%, rgba(0, 174, 239, 1) 100%);
			transform: scaleX(1.1);
		}
	}
}
#Venues{
	article{
		display: flex;
		gap: 2em;
		align-items: center;
		&:not(:first-child){
			margin-top: -6%;
		}
		> img{
			width: 45%;
		}
		> div{
			padding: 0 24px;
			div{
				margin-bottom: 20px;
			}
		}
	}
}

.table-container {
	max-width: 100%;
	overflow-x: auto;
	margin: 48px;
	table {
		width: 100%;
		border-collapse: collapse;
	}
	th, td {
		padding: 10px 16px;
		text-align: left;
		color: #444;
	}
	thead{
		background:linear-gradient(112deg,rgba(203, 219, 42, .15) 0%, rgba(0, 167, 109, .15) 33%, rgba(0, 171, 181, .15) 67%, rgba(0, 174, 239, .15) 100%);
		border-radius: 24px;
	}
	th {
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 600;
		&:first-child{
			border-top-left-radius: 24px;
			border-bottom-left-radius: 24px;
		}
		&:last-child{
			border-top-right-radius: 24px;
			border-bottom-right-radius: 24px;
		}
	}
	tbody tr{
		border-bottom: 1px solid #CCC;
		border-image: linear-gradient(112deg,rgba(203, 219, 42, .15) 0%, rgba(0, 167, 109, .15) 33%, rgba(0, 171, 181, .15) 67%, rgba(0, 174, 239, .15) 100%);;
	}
}
.sponsor-gradient{
	background: linear-gradient(112deg,rgba(203, 219, 42, 1) 0%, rgba(0, 167, 109, 1) 33%, rgba(0, 171, 181, 1) 67%, rgba(0, 174, 239, 1) 100%);
	width: 100%;
	height: 3px;
	border-radius: 2px;
}
/* Loader */
.loader {
    width: 26px;
    height: 26px;
    border: 4px solid rgba(0, 167, 109, 1);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.overlay-box{
    display: none;
    z-index: 998;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}
.modalbox-wrapper{
    z-index: 999;
    position: fixed;
    width: 80%;
    height: auto;
    max-height: 90vh;
    border-radius: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 32px 24px;
    box-sizing: border-box;
    color: #EEE;
    background: linear-gradient(112deg,rgba(12, 114, 186, .8) 0%, rgba(12, 114, 186, .8) 100%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(12, 114, 186, .8);
}
.modalbox-wrapper article{
    width: 100%;
    height: 100%;
}
#close-modal,
.close-modal{
    display: block;
    position: fixed;
    width: 40px;
    height: 40px;
    top: -26px;
    right: -26px;
    background: #444;
    border-radius: 50%;
    cursor: pointer;
    opacity: .8;
}
#close-modal svg{
    width: 40px;
    height: 40px;
    display: block;
}
.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

@media screen and (max-width: 768px){
	p{
		font-size: .9em;
	}
	.logo-commscope{
		bottom: 0;
		right: 10px;
	}
	#Inicio{
		> img{
			display: none;
		}
	}
	.ribbon-text{
		p{
			padding: 0 40px 0 20px;
		}
	}
	#registro{
		padding: 0 24px 40px;
		h4{
			font-size: 1.25em;
			margin: 32px 0 10px;
		}
		h5{
			font-size: 1em;
			margin: 16px 0 -8px;
		}
	}
	.margen{
		padding: 0 24px;
	}
	#Venues{
		article{
			flex-direction: column;
			&:not(:first-child){
				margin-top: 24px;
			}
			> img{
				width: 100%;
				order:1;
			}
			> div{
				> div{
					margin: 24px 0 8px;
				}
			}
		}
	}
	.table-container {
		margin: 48px 24px;
		thead {
			display: none;
		}
		tr {
			display: block;
			margin-bottom: 16px;
			border-radius: 8px;
			padding: 12px;
			background:linear-gradient(112deg,rgba(203, 219, 42, .15) 0%, rgba(0, 167, 109, .15) 33%, rgba(0, 171, 181, .15) 67%, rgba(0, 174, 239, .15) 100%);
		}
		td {
			display: flex;
			justify-content: space-between;
			align-items: center;
			border: none;
			border-bottom: 1px solid #ddd;
			padding: 8px 6px;
			font-size: 14px;
			text-align: right;
		}
		td:last-child {
			border-bottom: none;
		}
		td::before {
			content: attr(data-label);
			font-weight: bold;
			color: #333;
		}
	}
}